name: Android CI

on:
  workflow_dispatch:
    inputs:
      buildType:
        description: 'Select build type'
        required: true
        default: 'Debug'
        type: choice
        options:
          - Debug
          - Release

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: gradle-${{ runner.os }}

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build
        # O Gradle aceita assembleDebug ou assemblerelease, então manter o input maiúsculo aqui funciona
        run: ./gradlew app:assemble${{ inputs.buildType }}

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: OpenBeam-${{ inputs.buildType }}
          # CORREÇÃO: Removemos o toLowerCase e usamos * para pegar a pasta independente se for 'debug' ou 'release'
          path: app/build/outputs/apk/**/*.apk
